<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1><strong>Trading Bot</strong></h1>
    
    <h3>Stock Information</h3>
    <div class="container">
        {% for data in data_list %}
            <div class="card">
                <h4>{{ data.symbol }}</h4>
                <p><strong>Market Status:</strong> {{ data.market_status }}</p>
                <p><strong>Marketplace:</strong> {{ data.exchange }}</p>
                {% if data.message %}
                    <p>{{ data.message }}</p>
                {% else %}
                    <p><strong>Last Close Price:</strong> ${{ data.last_close }}</p>
                    <p><strong>Date:</strong> {{ data.last_close_time }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <footer>
        <p>This software was created and powered by <a href="http://www.clickecommerce.com.au" target="_blank">Click eCommerce</a></p>
    </footer>
</body>
</html>
