<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Setup</h1>
    <form action="{{ url_for('app.setup') }}" method="post">
        <h2>Select Symbols</h2>
        {% for symbol in symbols %}
            <input type="checkbox" id="{{ symbol }}" name="symbols" value="{{ symbol }}" 
                {% if symbol in selected_symbols %}checked{% endif %}>
            <label for="{{ symbol }}">{{ symbol }}</label><br>
        {% endfor %}
        
        <h2>Set Buy and Sell Thresholds</h2>
        {% for symbol in selected_symbols %}
            <label for="buy_{{ symbol }}">Buy Threshold for {{ symbol }}:</label>
            <input type="text" id="buy_{{ symbol }}" name="buy_{{ symbol }}" value="{{ buy_thresholds[symbol] }}"><br>
            <label for="sell_{{ symbol }}">Sell Threshold for {{ symbol }}:</label>
            <input type="text" id="sell_{{ symbol }}" name="sell_{{ symbol }}" value="{{ sell_thresholds[symbol] }}"><br>
        {% endfor %}
        
        <h2>Select Broker</h2>
        <select name="broker">
            <option value="Alpaca" {% if broker == 'Alpaca' %}selected{% endif %}>Alpaca</option>
            <!-- Add more broker options here -->
        </select>
        
        <h2>Select Trading Strategy</h2>
        <select name="strategy">
            {% for strategy in strategies %}
                <option value="{{ strategy }}" {% if strategy == selected_strategy %}selected{% endif %}>{{ strategy }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Save</button>
    </form>
    {% include 'footer.html' %}
</body>
</html>